4. Create a list of your favourite movies and print it. Then, apppend a new movie to the list and print the updated list

In [1]:
list_movies = ['Avengers','Godfather','Passengers','Interstellar'];
list_movies

['Avengers', 'Godfather', 'Passengers', 'Interstellar']

In [3]:
list_movies.append('Bad Boyz');
list_movies

['Avengers', 'Godfather', 'Passengers', 'Interstellar', 'Bad Boyz']

5. Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in the list and print the result.

In [12]:
list_integers = list(range(1,11))
list_integers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
sum = 0
for elements in range(0,len(list_integers)):
    sum = sum + list_integers[elements]

In [18]:
print("Sum of all the numbers in the list: ",sum)

Sum of all the numbers in the list:  55

6. Create a list of a mixed data type including strings, integers, and floats and print it. Remove the first element from the list and print the modified list.

In [2]:
list_mixed = [1,'Bibek',2,3.45, 'Zoro','Killua',2.44, 1.11, 10]
list_mixed

[1, 'Bibek', 2, 3.45, 'Zoro', 'Killua', 2.44, 1.11, 10]

In [3]:
list_mixed.pop(0)

1

In [4]:
print(list_mixed)

['Bibek', 2, 3.45, 'Zoro', 'Killua', 2.44, 1.11, 10]

7. Create a tuple containing the names of the days of the week and print it. Access and print the name of the third day.

In [21]:
tuple_days = ('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday')
tuple_days

('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')

In [24]:
print(tuple_days[2])

Tuesday

8. Create a tuple of your favorite colors and print it. Check if a certain color is present in the tuple and print the result.

In [25]:
tuple_colors = ('Black','White','Red','Yellow','Blue','Green','Cyan')
tuple_colors

('Black', 'White', 'Red', 'Yellow', 'Blue', 'Green', 'Cyan')

In [26]:
if (any('Black' in i for i in tuple_colors)):
    print ("Black is present")
else:
    print("Black is not present")

Black is present

9. Create a dictionary representing the information of a book with keys "title", "author", and "year" and print it. Update the year of the book and print the updated dictionary.

In [27]:
dict_book = {'title': 'The Alchemist','author':'Paulo Ceolho','year': 2017}
dict_book

{'title': 'The Alchemist', 'author': 'Paulo Ceolho', 'year': 2017}

In [28]:
dict_book['year'] = 2015

In [29]:
print(dict_book)

{'title': 'The Alchemist', 'author': 'Paulo Ceolho', 'year': 2015}

10. Create a dictonary containing the names of fruits as keys and their corresponding colors as values and print it. Add a new fruit-color pair to the dictionary and print the updated dictionary.

In [30]:
dict_fruits = {'apple':'red', 'banana':'yellow','grapes':'green'}
dict_fruits

{'apple': 'red', 'banana': 'yellow', 'grapes': 'green'}

In [31]:
dict_fruits['orange'] = 'orange'

In [32]:
print(dict_fruits)

{'apple': 'red', 'banana': 'yellow', 'grapes': 'green', 'orange': 'orange'}

11. Create a dictionary representing the population of different cities with keys as city names and values as population numbers and print it. Remove a city from the dictionary and print the modified dictionary.

In [33]:
dict_population = {'Baneshwor':10231, 'Patan':1232,'Koteshwor': 12131, 'Anamnagar': 12312}
dict_population

{'Baneshwor': 10231, 'Patan': 1232, 'Koteshwor': 12131, 'Anamnagar': 12312}

In [34]:
del dict_population['Patan']

In [35]:
print(dict_population)

{'Baneshwor': 10231, 'Koteshwor': 12131, 'Anamnagar': 12312}